.mentorCard {
    width: 250px  !important;
    background-color: var(--main-box-color);
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    align-content: center !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.activeMentorsTitle {
  color: #d4d4d4;
}
