.topBar-main-container{
    position: absolute;
    top:0;
    margin-bottom: 10px;
    background-color: #222222;
    color: white;
    height: 80px;
    width: 100vw;
    justify-content: space-around;
    z-index: 4;
}