.recentQuestions{
    width: 250px;
    background-color: var(--main-box-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    min-height: 309px;
}

.topicPill{
    padding-left: 10px !important;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:7.5px;
    padding-left: 6px;
    width: 190px;
    min-height: 40px;
    font-size: 1.6em;
    display: flex;
    border-radius: 22px;
    border-width: 4px;
    align-items: center;
    align-content: center;
}

.topicPill:hover{
    cursor: pointer;
}