.modal-background{
    position: absolute;
    background: rgba(17,17,17,0.5);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 9;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.modal-main-container{
<<<<<<< HEAD
    margin: 10px 0 10px 0;
    position: relative;
    width: 100%;
    z-index: 10;
    background: var(--main-box-color);
    color: white;
=======
    position: fixed;
    top: 10%;
    left: 25%;
    height: 80%;
    width: 50%;
    z-index: 9999;
    background: #EEE;
>>>>>>> master
    padding: 10px;
    display:flex;
}

.modal-main-container input{

    height: 4em;
    border: none;
     border-radius: 6px;
     width: 100%;
     display: inline-block;
     box-sizing: border-box;
     margin: 10px 0 10px 0;
 }
 .modal-main-container textarea{

    height: 4em;
    border: none;
     border-radius: 6px;
     width: 100%;
     display: inline-block;
     box-sizing: border-box;
     margin: 10px 0 10px 0;
 }
.modal-main-container .fa-times{
    position: absolute;
    top: 10px;
    right: 10px;
}

.modals-holder {
  padding: 50px;
  position: absolute;
  width: 70%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}  

.invis-div2{
    position: fixed;
    opacity: .8;
    width: 100vw;
    height: 200%;
    z-index: 1;
}

.modal-main-container-left{
    display:inline-flex;
    flex-direction: column;
    width:70%;
}
<<<<<<< HEAD
.modal-main-container-right{
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 30%;
=======

.modal-code-section{
    height: 38%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-answer-section{
    height: 45%;
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-answer-section button{
    margin-top: 10px;
}

.modal-answer-section p{
    margin-right: 85%;
}

.modal-code-section textarea{
    min-height: 150px;
    width: 400px;
}

.modal-textarea{
    font-size: 14px;
    padding: 10px;
    outline: none;
    resize: none;
}

.modal-answer{
    min-height: 60%;
    width: 80%;  
}

.edit-btn{

}

.modal-btn{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 16px;
    background: #2AABE2;
    color: #F2F2F2;
    text-align: center;
    border-radius: 3px;
}

.modal-btn:hover{
    transition: all ease 0.5s;
    background: #222;
>>>>>>> master
}