.modal-background{
    position: absolute;
    background: rgba(17,17,17,0.5);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 9;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.modal-main-container{
    margin: 10px 0 10px 0;
    position: relative;
    width: 100%;
    z-index: 10;
    background: var(--main-box-color);
    color: white;
    padding: 10px;
}

.modal-main-container input{

    height: 4em;
    border: none;
     border-radius: 6px;
     width: 100%;
     display: inline-block;
     box-sizing: border-box;
     margin: 10px 0 10px 0;
 }
.modal-main-container .fa-times{
    position: absolute;
    top: 10px;
    right: 10px;
}

.modals-holder {
  padding: 50px;
  position: absolute;
  width: 70%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}  

.invis-div2{
    position: fixed;
    opacity: .8;
    width: 100vw;
    height: 200%;
    z-index: 1;
}