.questionForm-main-container{
  width: 500px;
  background: #222222;
  color: white;
  padding: 10px;
  display: flex;
}

.firstQBox {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.secondBox {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.flexed{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bigCircle{
  border-radius: 50px; 
  height: 100px;
  width: 100px;
  background: orange;
}

.firstQBox input{

   height: 4em;
   border: none;
    border-radius: 6px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

.questionInput{
  background: rgb(173, 173, 173);
  margin-bottom: 10px;
}


.code{
  background: rgb(116, 123, 179);
  color: rgb(26, 210, 186);
}
