.userlist-main-container {
  width: 157px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #222222;
  float: right;
}

