.actionForm-main-container {
  width: 500px;
  background: var(--main-box-color);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.big-circle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
