.App{
  flex-direction: column;
  overflow: scroll;
}

body {
  background-color: #333333;
}

.m10{
  margin: 10px;
}

.curved {
 border-radius: 6px;
}

.shadowed{
  z-index: 1;
  -webkit-box-shadow: 7px 6px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 6px 17px 0px rgba(0,0,0,0.75);
box-shadow: 7px 6px 17px 0px rgba(0,0,0,0.75);
}

.inner-shadow{
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.animated{
  transition: all ease 0.3s;
  transform: rotate(0deg);

}

.animated:hover{
  transition: all ease 0.3s;
  transform: rotate(7deg);
}
.jump:hover{
  transition: all ease 0.3s;
  transform: rotate(7deg);
}